*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppine' , sans-serif;
}
nav{
    background: #1b1b11;
    position: fixed;
    width: 100%;
    padding: 10px 0;
    z-index: 12;
}
.menu{
max-width: 1250px;
margin: auto;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 20px;
}
.logo a{
text-decoration: none;
color: rgb(183, 37, 37);
font-size: 36px;
font-weight: 600;
}
.menu ul{
  display: inline-flex;
}
.menu ul li{
    list-style: none;
    margin-left: 7px;
}
.menu ul li:first-child{
    margin-left: 0px;
}
.menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 15 px;
    font-weight: 500;
    padding:8px 15px;
    /* background-color: red; */
    /* opacity: 0.3; */
    border-radius: 5px;
    transition: all 0.2s ease;
}
.menu ul li a:hover{
    background: white;
    /* opacity: 0.5; */
    color: black;
}

.image{
    background: url('one.jpeg') no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}
image::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: (0,0,0,0.7);
}

.center{
position: absolute;
/* background-color: red; */

top: 52%;
left: 50%;
transform: translate(-50%, -50%);
width: 100%;
padding: 0 20px;
text-align: center;
}


.title{
/* background-color: rgb(60, 160, 64); */
color: white;
font-size: 43px;
font-weight: 600;
padding: 5px;

}


.subTitle{
    color: white;
    font-size: 38px;
    font-weight: 600;
    padding: 5px;
}

.buttons button{
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
    margin-top: 30px;
    border: 2px solid white;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;


}
.buttons button:first-child{
    background: none;
    color: white;
}
.buttons button:first-child:hover{
    background: white;
    color: black;
   
}

.buttons button:last-child{
    background: none;
    color: white;
}
.buttons button:last-child:hover{
    background: white;
    color: black;
   
}

.container{
    background-color: black;
}
.row{
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
}
.footer-col ul{
    list-style: none;
}
.footer-col h2{
  color: white;
  font-weight: 500;
  font-size: 22px;
  position: relative;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */


}

li{
    padding: 10px 0;
}
a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    opacity: 0.7;
    transition: all 0.5s ease;

}
a:hover{
    opacity: 1;
    color: red;
}

.footer-col input{
    border: none;
    width: 260px;
    height: 45px;
    display: block;
    padding-left: 20px;
    font-size: 15px;
    margin: 15px 0;
    
}

button{
height: 30px;
width: 100px;
border: none;
background-color: black;
opacity: 0.6;
border-radius: 5px;
border: 2px solid white;
color: white;
font-size: 15px;
transition: all 0.5s ease;
}
button:hover{
    color: rgb(251, 251, 251);
    background-color: rgb(254, 0, 0);
}